.container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 1;
  font-family: "Black" !important;
  color: #fff;

  background-color: rgb(72, 29, 146);
  padding: 3px;
  // padding-left: 13px;
  // padding-top: x;
  border-top-left-radius: 9px;
  box-shadow: 0px -3px #6e46d5;

  .image-form {
    .image-inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;

      .image-url {
      }

      input[type="file"] {
        display: none;
      }

      .image-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
      }
    }

    img {
      width: 100%;
    }

    .draw-image-btn {
      margin-top: 5px;
      width: 100%;
    }
  }

  // .break {
  //   flex-basis: 100%;
  //   height: 0;
  // }

  // .form-container {
  //   display: flex;
  //   flex-direction: column;

  //   & > * {
  //     flex: 1;
  //     margin-bottom: 3px;
  //   }

  //   .infos-container {
  //     display: flex;
  //     flex-direction: row;

  //     .quality {
  //       flex: 1;
  //       margin-right: 3px;
  //     }

  //     .colors {
  //       flex: 3;
  //       margin-right: 3px;
  //     }

  //     .mode {
  //       flex: 3;
  //     }
  //   }
  // }

  // .running-container {
  //   display: flex;
  //   flex-direction: column;

  //   & > * {
  //     margin-bottom: 4px;
  //   }

  //   .infos {
  //     display: flex;
  //     flex: 1;

  //     .state {
  //       flex: 1;

  //       text-align: left;
  //     }

  //     .boxes {
  //       flex: 3;

  //       text-align: right;
  //     }
  //   }

  //   .keys {
  //     flex: 1;
  //     text-align: center;
  //   }
  // }

  // .finished-container {
  //   display: flex;
  //   flex-direction: column;

  //   & > * {
  //     flex: 1;
  //     margin-bottom: 3px;
  //   }

  //   .infos {
  //     display: flex;
  //     flex-direction: row;

  //     .boxes-drawn {
  //       flex: 2;
  //       text-align: left;
  //     }

  //     .time {
  //       flex: 1;
  //       text-align: right;
  //     }
  //   }
  // }

  // input {
  //   border: none;
  //   background-color: rgba(255, 255, 255, 0.3);
  //   border: 2px rgba(255, 255, 255, 0.7) solid;
  //   border-radius: 7px;
  //   font-family: "Bold";
  //   font-size: 19px;
  //   color: rgba(255, 255, 255, 0.8);
  //   padding: 0 10px;
  //   height: 29px;

  //   &::placeholder {
  //     color: rgba(255, 255, 255, 0.5);
  //   }

  //   &:disabled {
  //     opacity: 0.7;
  //   }
  // }

  // button {
  //   font-family: "Black";
  //   background-color: #fff;
  //   box-shadow: 0px 6px 0px 0px #301a6b;
  //   color: #301a6b;
  //   border: 0;
  //   font-size: 19px;
  //   padding: 7px 20px;
  //   text-transform: uppercase;
  //   border-radius: 7px;
  //   cursor: pointer;
  //   margin-bottom: 6px !important;

  //   &:hover {
  //     background-color: #cbb6e9;
  //   }

  //   &:disabled {
  //     opacity: 0.7;
  //   }
  // }

  // select {
  //   border: none;
  //   background-color: rgba(255, 255, 255, 0.3);
  //   border: 2px rgba(255, 255, 255, 0.7) solid;
  //   border-radius: 7px;
  //   font-family: "Bold";
  //   font-size: 19px;
  //   color: rgba(255, 255, 255, 0.8);
  //   padding: 0 10px;
  //   height: 33px;

  //   option {
  //     color: #301a6b;
  //   }
  // }
}
